<a href="https://colab.research.google.com/github/kwanjira16254200/pandas/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd

In [60]:
df = pd.read_csv('Bookcsv.csv',names=['Menu1','Menu2','Menu3','Menu4','Menu5'],header=None)

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.values

data = list(df['Menu1', 'Menu2', 'Menu3', 'Menu4', 'Menu5'].apply(lambda x:x.split(',')))
data

In [ ]:
data = df.values.tolist()
data

In [76]:
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
Food = TransactionEncoder()
Food_data = Food.fit(data).transform(data)
df = pd.DataFrame(Food_data,columns=Food.columns_)
df

In [ ]:
bool_2d_list = df.values.tolist()
int_2d_list = []
for list_bool in bool_2d_list:
  convert = map(int, list_bool)
  int_list = list(convert)
  int_2d_list.append(int_list)
df = pd.DataFrame(int_2d_list)
df

In [86]:
from mlxtend.frequent_patterns import apriori

In [88]:
df1 = apriori(df,min_support=0.01,use_colnames=1)
df1

      support                 itemsets
0        0.14                      (0)
1        0.02                      (1)
2        0.02                      (2)
3        0.04                      (3)
4        0.04                      (4)
...       ...                      ...
1383     0.02    (100, 75, 86, 92, 61)
1384     0.02     (64, 66, 75, 76, 90)
1385     0.02  (67, 100, 105, 77, 113)
1386     0.02    (72, 73, 105, 80, 94)
1387     0.02    (96, 77, 109, 87, 93)

[1388 rows x 2 columns]

In [89]:
df1.sort_values(by="support",ascending=0)

      support               itemsets
77       0.18                   (77)
29       0.18                   (29)
0        0.14                    (0)
94       0.14                   (94)
100      0.12                  (100)
...       ...                    ...
515      0.02               (80, 75)
514      0.02               (75, 76)
513      0.02              (73, 105)
512      0.02               (73, 94)
1387     0.02  (96, 77, 109, 87, 93)

[1388 rows x 2 columns]