<a href="https://colab.research.google.com/github/kwanjira16254200/pandas/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
import pandas as pd

In [101]:
df = pd.read_csv('Bookcsv.csv',names=['Menu1','Menu2','Menu3','Menu4','Menu5'],header=None)

In [ ]:
df

In [103]:
df.columns

Index(['Menu1', 'Menu2', 'Menu3', 'Menu4', 'Menu5'], dtype='object')

In [ ]:
df.values

data = list(df['Menu1', 'Menu2', 'Menu3', 'Menu4', 'Menu5'].apply(lambda x:x.split(',')))
data

In [ ]:
data = df.values.tolist()
data

In [106]:
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
Food = TransactionEncoder()
Food_data = Food.fit(data).transform(data)
df = pd.DataFrame(Food_data,columns=Food.columns_)
df

In [ ]:
bool_2d_list = df.values.tolist()
int_2d_list = []
for list_bool in bool_2d_list:
  convert = map(int, list_bool)
  int_list = list(convert)
  int_2d_list.append(int_list)
df = pd.DataFrame(int_2d_list,columns=Food.columns_)
df

In [111]:
from mlxtend.frequent_patterns import apriori

In [114]:
df1 = apriori(df,min_support=0.01,use_colnames=1)
df1

      support                   itemsets
0        0.14                       (F1)
1        0.02                      (F10)
2        0.02                     (F100)
3        0.04                     (F101)
4        0.04                     (F102)
...       ...                        ...
1383     0.02      (F42, F7, F2, F8, F6)
1384     0.02  (F43, F42, F67, F26, F24)
1385     0.02   (F27, F44, F85, F8, F96)
1386     0.02    (F5, F72, F4, F85, F39)
1387     0.02   (F75, F9, F44, F60, F71)

[1388 rows x 2 columns]

In [115]:
df1.sort_values(by="support",ascending=0)

      support                  itemsets
77       0.18                     (F44)
29       0.18                     (F15)
0        0.14                      (F1)
94       0.14                     (F72)
100      0.12                      (F8)
...       ...                       ...
515      0.02                 (F42, F5)
514      0.02                (F42, F43)
513      0.02                 (F4, F85)
512      0.02                 (F4, F72)
1387     0.02  (F75, F9, F44, F60, F71)

[1388 rows x 2 columns]

In [116]:
df1['length'] = df1['itemsets'].apply(lambda x:len(x))
df1

      support                   itemsets  length
0        0.14                       (F1)       1
1        0.02                      (F10)       1
2        0.02                     (F100)       1
3        0.04                     (F101)       1
4        0.04                     (F102)       1
...       ...                        ...     ...
1383     0.02      (F42, F7, F2, F8, F6)       5
1384     0.02  (F43, F42, F67, F26, F24)       5
1385     0.02   (F27, F44, F85, F8, F96)       5
1386     0.02    (F5, F72, F4, F85, F39)       5
1387     0.02   (F75, F9, F44, F60, F71)       5

[1388 rows x 3 columns]

In [118]:
df1[(df1['length']==2)]

     support    itemsets  length
114     0.02   (F1, F11)       2
115     0.02  (F117, F1)       2
116     0.02  (F119, F1)       2
117     0.02   (F12, F1)       2
118     0.02  (F1, F120)       2
..       ...         ...     ...
584     0.02   (F9, F80)       2
585     0.02  (F91, F80)       2
586     0.02  (F91, F83)       2
587     0.02  (F85, F96)       2
588     0.02   (F9, F91)       2

[475 rows x 3 columns]