<a href="https://colab.research.google.com/github/kwanjira16254200/pandas/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('Bookcsv.csv',names=['Menu1','Menu2','Menu3','Menu4','Menu5'],header=None)

In [ ]:
df

In [5]:
df.columns

Index(['Menu1', 'Menu2', 'Menu3', 'Menu4', 'Menu5'], dtype='object')

In [ ]:
df.values

In [ ]:
df.describe()

data = list(df['Menu1', 'Menu2', 'Menu3', 'Menu4', 'Menu5'].apply(lambda x:x.split(',')))
data

In [ ]:
data = df.values.tolist()
data

In [9]:
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
Food = TransactionEncoder()
Food_data = Food.fit(data).transform(data)
df = pd.DataFrame(Food_data,columns=Food.columns_)
df

In [ ]:
bool_2d_list = df.values.tolist()
int_2d_list = []
for list_bool in bool_2d_list:
  convert = map(int, list_bool)
  int_list = list(convert)
  int_2d_list.append(int_list)
df = pd.DataFrame(int_2d_list,columns=Food.columns_)
df

In [12]:
from mlxtend.frequent_patterns import apriori

In [ ]:
df1 = apriori(df,min_support=0.01,use_colnames=1)
df1

In [ ]:
df1['length'] = df1['itemsets'].apply(lambda x:len(x))
df1

In [50]:
df1[(df1['length']==2)]

     support    itemsets  length
114     0.02   (F11, F1)       2
115     0.02  (F117, F1)       2
116     0.02  (F119, F1)       2
117     0.02   (F1, F12)       2
118     0.02  (F120, F1)       2
..       ...         ...     ...
584     0.02   (F9, F80)       2
585     0.02  (F91, F80)       2
586     0.02  (F83, F91)       2
587     0.02  (F85, F96)       2
588     0.02   (F9, F91)       2

[475 rows x 3 columns]

In [43]:
df1[(df1['length']==3)]

      support          itemsets  length
589      0.02   (F11, F119, F1)       3
590      0.02   (F11, F120, F1)       3
591      0.02     (F8, F11, F1)       3
592      0.02  (F117, F174, F1)       3
593      0.02    (F117, F1, F2)       3
...       ...               ...     ...
1083     0.02    (F71, F9, F75)       3
1084     0.02    (F8, F89, F75)       3
1085     0.02   (F83, F91, F76)       3
1086     0.02    (F85, F8, F96)       3
1087     0.02    (F9, F91, F80)       3

[499 rows x 3 columns]

In [ ]:
df1[(df1['length']==4)]

In [51]:
df1[ (df1['length'] == 2) & (df1['support'] >= 0.04) ]

     support      itemsets  length
122     0.04    (F174, F1)       2
128     0.04      (F3, F1)       2
129     0.04     (F42, F1)       2
131     0.04     (F1, F71)       2
132     0.04     (F1, F72)       2
134     0.04      (F8, F1)       2
169     0.06   (F107, F15)       2
189     0.04   (F11, F120)       2
195     0.04    (F11, F55)       2
203     0.04  (F151, F110)       2
307     0.04    (F15, F16)       2
325     0.04    (F15, F72)       2
345     0.04   (F184, F16)       2
364     0.04   (F58, F166)       2
417     0.04     (F18, F2)       2
463     0.04     (F42, F2)       2
481     0.04    (F24, F43)       2
495     0.06     (F42, F3)       2
511     0.04      (F4, F5)       2
519     0.04     (F42, F8)       2
523     0.04    (F44, F55)       2
525     0.04     (F6, F44)       2
534     0.04    (F44, F83)       2

In [37]:
df1[(df1['length']== {'F1'})]

Empty DataFrame
Columns: [support, itemsets, length]
Index: []

In [ ]:
df1['itemsets']

In [ ]:
df1['itemsets'][0]

In [ ]:
df1['itemsets'][1]

In [ ]:
df1['itemsets'][2]

In [ ]:
df1['itemsets'][3]

In [ ]:
type(df1['itemsets'][0])

In [ ]:
type(df1['itemsets'][1])

In [ ]:
import pandas as pd

dict = {'itemsets': [['F174', 'F1'], ['F3', 'F1'],
                     ['F42', 'F1'], ['F1', 'F71'],
                     ['F107', 'F15'], ['F42', 'F3'],
                     ['F42', 'F3', 'F1']],
        'support':[0.04, 0.04, 0.04,
                   0.04, 0.06, 0.06, 0.04]}

freq_itemsets = pd.DataFrame(dict)
freq_itemsets

In [ ]:
df1 = df1[['antecedents', 'consequents', 'support']]
df1

In [47]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
#from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth
from mlxtend.frequent_patterns import association_rules


dataset = [['F1', 'F3', 'F15', 'F20', 'F32'],
           ['F9', 'F80', 'F91', 'F108', 'F1096'],
           ['F2', 'F3', 'F4', 'F5', 'F32'],
           ['F15', 'F16', 'F107', 'F178', 'F184'],
           ['F96', 'F110', 'F128', 'F143', 'F151']]

test = TransactionEncoder()
test_ary = test.fit(dataset).transform(dataset)
df = pd.DataFrame(test_ary, columns=test.columns_)

#frequent_itemsets = fpgrowth(df, min_support=0.02, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules

NameError: ignored