<a href="https://colab.research.google.com/github/kwanjira16254200/pandas/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('Bookcsv.csv',names=['Menu1','Menu2','Menu3','Menu4','Menu5'],header=None)

In [ ]:
df

In [5]:
df.columns

Index(['Menu1', 'Menu2', 'Menu3', 'Menu4', 'Menu5'], dtype='object')

In [ ]:
df.values

In [ ]:
df.describe()

data = list(df['Menu1', 'Menu2', 'Menu3', 'Menu4', 'Menu5'].apply(lambda x:x.split(',')))
data

In [ ]:
data = df.values.tolist()
data

In [9]:
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
Food = TransactionEncoder()
Food_data = Food.fit(data).transform(data)
df = pd.DataFrame(Food_data,columns=Food.columns_)
df

In [ ]:
bool_2d_list = df.values.tolist()
int_2d_list = []
for list_bool in bool_2d_list:
  convert = map(int, list_bool)
  int_list = list(convert)
  int_2d_list.append(int_list)
df = pd.DataFrame(int_2d_list,columns=Food.columns_)
df

In [12]:
from mlxtend.frequent_patterns import apriori

In [ ]:
df1 = apriori(df,min_support=0.01,use_colnames=1)
df1

In [27]:
df1['length'] = df1['itemsets'].apply(lambda x:len(x))
df1

      support                   itemsets  length
0        0.14                       (F1)       1
1        0.02                      (F10)       1
2        0.02                     (F100)       1
3        0.04                     (F101)       1
4        0.04                     (F102)       1
...       ...                        ...     ...
1383     0.02      (F2, F8, F42, F7, F6)       5
1384     0.02  (F43, F42, F24, F67, F26)       5
1385     0.02   (F85, F44, F96, F8, F27)       5
1386     0.02    (F85, F4, F39, F5, F72)       5
1387     0.02   (F44, F9, F75, F71, F60)       5

[1388 rows x 3 columns]

In [30]:
df1[(df1['length']==2)]

     support    itemsets  length
114     0.02   (F11, F1)       2
115     0.02  (F117, F1)       2
116     0.02  (F119, F1)       2
117     0.02   (F1, F12)       2
118     0.02  (F120, F1)       2
..       ...         ...     ...
584     0.02   (F9, F80)       2
585     0.02  (F91, F80)       2
586     0.02  (F83, F91)       2
587     0.02  (F85, F96)       2
588     0.02   (F9, F91)       2

[475 rows x 3 columns]

In [28]:
df1[(df1['length']==3)]

      support          itemsets  length
589      0.02   (F11, F119, F1)       3
590      0.02   (F11, F120, F1)       3
591      0.02     (F8, F11, F1)       3
592      0.02  (F117, F174, F1)       3
593      0.02    (F117, F1, F2)       3
...       ...               ...     ...
1083     0.02    (F71, F9, F75)       3
1084     0.02    (F8, F89, F75)       3
1085     0.02   (F83, F91, F76)       3
1086     0.02    (F85, F8, F96)       3
1087     0.02    (F9, F91, F80)       3

[499 rows x 3 columns]

In [29]:
df1[(df1['length']==4)]

      support               itemsets  length
1088     0.02  (F11, F120, F119, F1)       4
1089     0.02    (F8, F11, F119, F1)       4
1090     0.02    (F8, F11, F120, F1)       4
1091     0.02   (F117, F174, F1, F2)       4
1092     0.02  (F117, F174, F1, F71)       4
...       ...                    ...     ...
1333     0.02    (F71, F44, F9, F75)       4
1334     0.02   (F44, F83, F91, F76)       4
1335     0.02    (F85, F8, F44, F96)       4
1336     0.02    (F8, F89, F51, F75)       4
1337     0.02    (F71, F60, F9, F75)       4

[250 rows x 3 columns]

In [38]:
df1[ (df1['length'] == 2) & (df1['support'] >= 0.04) ]

     support      itemsets  length
122     0.04    (F174, F1)       2
128     0.04      (F3, F1)       2
129     0.04     (F42, F1)       2
131     0.04     (F1, F71)       2
132     0.04     (F1, F72)       2
134     0.04      (F8, F1)       2
169     0.06   (F107, F15)       2
189     0.04   (F11, F120)       2
195     0.04    (F11, F55)       2
203     0.04  (F151, F110)       2
307     0.04    (F15, F16)       2
325     0.04    (F15, F72)       2
345     0.04   (F184, F16)       2
364     0.04   (F58, F166)       2
417     0.04     (F18, F2)       2
463     0.04     (F42, F2)       2
481     0.04    (F24, F43)       2
495     0.06     (F42, F3)       2
511     0.04      (F4, F5)       2
519     0.04     (F42, F8)       2
523     0.04    (F44, F55)       2
525     0.04     (F6, F44)       2
534     0.04    (F44, F83)       2

In [37]:
df1[(df1['length']== {'F1'})]

Empty DataFrame
Columns: [support, itemsets, length]
Index: []

In [20]:
df1['itemsets']

0                            (F1)
1                           (F10)
2                          (F100)
3                          (F101)
4                          (F102)
                  ...
1383        (F2, F8, F42, F7, F6)
1384    (F43, F42, F24, F67, F26)
1385     (F85, F44, F96, F8, F27)
1386      (F85, F4, F39, F5, F72)
1387     (F44, F9, F75, F71, F60)
Name: itemsets, Length: 1388, dtype: object

In [21]:
df1['itemsets'][0]

frozenset({'F1'})

In [22]:
df1['itemsets'][1]

frozenset({'F10'})

In [23]:
df1['itemsets'][2]

frozenset({'F100'})

In [24]:
df1['itemsets'][3]

frozenset({'F101'})

In [25]:
type(df1['itemsets'][0])

frozenset

In [26]:
type(df1['itemsets'][1])

frozenset

In [ ]:
import pandas as pd

dict = {'itemsets': [['177', '176'], ['177', '179'],
                     ['176', '178'], ['176', '179'],
                     ['93', '100'], ['177', '178'],
                     ['177', '176', '178']],
        'support':[0.253623, 0.253623, 0.217391,
                   0.217391, 0.181159, 0.108696, 0.108696]}

freq_itemsets = pd.DataFrame(dict)
freq_itemsets